@font-face {
  font-family: 'adrip1';
  src: local('adrip1'), url(../fonts/adrip1.ttf) format('truetype');
}

/* ============================ DESKTOP Version ============================ */

body {
  height: 100%;
  background-color: #000000;

}

#appContainer {
  justify-content: center;
}

/* ________________________________ TitlePage ________________________________ */
#titlePageContainer {
  display: flex;
  flex-direction: column-reverse;
  justify-content: center;
  align-content: center;
  align-items: center;
}

#titlePageButton {
  width: 300px;
  position: absolute;
  top: 20%;
}

#houseLogoImage {
  height: 300px;
  width: 300px;
  z-index: 1;
}

#nameLogoImage {
  display: flex;
  align-content: center;
  width: 100%;
}

#hiddenText {
  font-family: 'Josefin Sans', sans-serif;
  display: flex;
  flex-direction: column-reverse;
  justify-content: center;
  align-content: center;
  align-items: center;
  position: absolute;
  top: 30%;
  left: 25%;
  text-align: center;
  vertical-align: middle;
  text-decoration: none!important;
  font-variant: small-caps;
  color: transparent;
  font-size: 35px;
  width: 155px;
  z-index: 3;
  transition: all 1000ms ease-out;
}

#hiddenText:hover {
  font-family: 'Josefin Sans', sans-serif;
  text-decoration: none!important;
  transition: all 1000ms ease-in;
  color: black;
}
/* -------------------------------------------------------------------------- */

/* __________________________________ Home __________________________________ */
#homeContainer {
  display: flex;
  justify-content: center;
  align-content: center;
  align-items: center;
}

#homePageImage {
  width: 90%;
}

.fade-In {
  animation: fadeIn ease 2s;
  -webkit-animation: fadeIn ease 2s;
  -moz-animation: fadeIn ease 2s;
  -o-animation: fadeIn ease 2s;
  -ms-animation: fadeIn ease 2s;
}

@keyframes fadeIn {
  0% {opacity:0;}
  100% {opacity:1;}
}

#homeBodyContainer {
  display: flex;
  justify-content: center;
  align-content: center;
  align-self: center;
  margin: 0 40px;
}

#gridContainer {
  margin-top: 20px;
  display: grid;
  grid-template-rows: repeat(2, 1fr);
  grid-template-columns: repeat(2, 1fr);
  width: 90vw;
  height: 75vh;
}

#soundCloudLink {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.title {
  font-family: 'adrip1';
  font-size: 60px;
  letter-spacing: 4px;
  color: white;
  display: flex;
  justify-content: center;
  margin: 15px 0 15px 0;
}

.bottom-line {

}

.box-top-bottom {
  border-style: solid;
  border-color: white;
  border-width: 9px 0;
  animation: bodyFadeIn ease 4s;
  -webkit-animation: fadeIn ease 4s;
  -moz-animation: fadeIn ease 4s;
  -o-animation: fadeIn ease 4s;
  -ms-animation: fadeIn ease 4s;
}

.box-left-right {
  border-style: solid;
  border-color: white;
  height: 92%;
  border-width: 0 9px;
  animation: bodyFadeIn ease 4s;
  -webkit-animation: fadeIn ease 4s;
  -moz-animation: fadeIn ease 4s;
  -o-animation: fadeIn ease 4s;
  -ms-animation: fadeIn ease 4s;
}

.body-Fade {
  animation: bodyFadeIn ease 4s;
  -webkit-animation: fadeIn ease 4s;
  -moz-animation: fadeIn ease 4s;
  -o-animation: fadeIn ease 4s;
  -ms-animation: fadeIn ease 4s;
}

@keyframes bodyFadeIn {
  0% {opacity:0;}
  100% {opacity:1;}
}


/* -------------------------------------------------------------------------- */

/* ========================================================================== */



/* ============================= TABLET Version ============================= */
@media (min-width: 426px) and (max-width: 769px) {
#appContainer {
  max-width: 765px;
}

/* ________________________________ TitlePage ________________________________ */
#titlePageButton {
  flex-direction: column-reverse;
  justify-content: center;
}

#houseLogoImage {
  height: 250px;
  left: 40%;
  position: absolute;
  top: 30%;
  width: 250px;
}

#nameLogoImage {
  height: 250px;
  left: 40%;
  position: absolute;
  top: 58%;
  width: 250px;
}
/* -------------------------------------------------------------------------- */

/* __________________________________ Home __________________________________ */



/* -------------------------------------------------------------------------- */
}
/* ========================================================================== */



/* ============================= MOBILE VERSION ============================= */
@media (max-width: 426px) {

/* ________________________________ TitlePage ________________________________ */
#titlePageButton {
  flex-direction: column-reverse;
  justify-content: center;
}

#houseLogoImage {
  height: 200px;
  left: 23%;
  position: absolute;
  top: 30%;
  width: 200px;
}

#nameLogoImage {
  height: 200px;
  left: 23%;
  position: absolute;
  top: 53%;
  width: 200px;
}
/* -------------------------------------------------------------------------- */

/* __________________________________ Home __________________________________ */



/* -------------------------------------------------------------------------- */
}
/* ========================================================================== */
